.w-20 {
    width: 5rem;
}
.w-132 {
    width: 36rem;
}
.h-5 {
    height: 1.25rem;
}

a {
    text-decoration: none;
}

.topbar {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    position: sticky;
    top: 0;
}

.topbar-menu {
    grid-column: 1 / span 2;
}

.topbar-search {
    grid-column: 3 / span 10;
}

.header-searchbar input {
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
}
.header-searchbar button {
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
}

.header-settings {
    grid-column: 10 / span 3;
}


.bg-all {
    background: #efefef;
}
.text-aside {
    color: #888;
}
.active {
    background: #bbb;
    font-weight: 700;
}
.active:hover {
    background: #aaa !important;
}

.main-content {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.main-content .aside {
    grid-column: 1 / span 2;
}
.main-content .aside .menu-item:hover {
    background: #ddd;
}
.main-content .content {
    grid-column: 3 / span 10;
}
.content > div {
    margin: 0 auto;
}

.menu-item > svg {
    height: 1.5rem !important;
    width: 1.5rem !important;
}