
.w-20 {
    width: 5rem;
}
.w-90 {
    width: 90%;
}
.w-132 {
    width: 36rem;
}
.h-5 {
    height: 1.25rem;
}
a {
    text-decoration: none;
}
.topbar-search form input {
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
}
.topbar-search form button {
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
}
.bg-aside {
    background: #efefef;
}
.bg-btn {
    background: #f00;
}
.text-aside {
    color: #888;
}
.text-ss {
    font-size: .80rem;
}
.active {
    background: #bbb;
    font-weight: 700;
}
.active:hover {
    background: #aaa !important;
}
.sidebar .menu-item:hover {
    background: #ddd;
}
.menu-item > svg {
    height: 1.5rem !important;
    width: 1.5rem !important;
}
.thumbnail-image button {
    top: calc(50% - 1rem);
    right: -1rem;
}
.opacity-90 {
    opacity: .90;
}
